{% extends "base.html" %}

{% block content %}
    <div id="item-list">
        <h2 class="ml-3 mt-2 mb-2">Products</h2>
        {% if products %}
            <table class="table table-striped" cellpadding="10" cellspacing="1">
                <thead>
                <tr style="font-size: 1.5rem" class="table-dark">
                    <th style="text-align:left;">Name</th>
                    <th style="text-align:right;" width="10%">Unit Price</th>
                    <th style="text-align:right;" width="10%">Unit</th>
                    <th style="text-align:right;" width="5%">Availability</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td style="text-align:left;"><a
                                href="{{ url_for('store.item', item_id=product['ItemId']) }}">{{ product['ItemName'] }}</a>
                        </td>
                        <td style="text-align:right;">{{ product['ItemPrice'] }} zł</td>
                        <td style="text-align:right;">{{ product['ItemUnit'] }}</td>
                        <td style="text-align:right;">{{ product['ItemAvailability'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else: %}
            <h4 class="mb-4">Can't find any products</h4>
        {% endif %}
    </div>
{% endblock %}