{% extends "base.html" %}

{% block content %}
    <div class="column is-4 is-offset-4">
        <h3 class="title">Sign Up</h3>
        <div class="box">
            <form method="POST" action="/signup">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="alert alert-danger">
                            {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
                        </div>
                    {% endif %}
                {% endwith %}
                <div class="form-outline mb-1">
                    <input class="input" id="form2Example1" type="email" name="email" placeholder="Your Email"
                           autofocus="">
                </div>

                <div class="form-outline mb-1">
                    <input class="input" id="form2Example1" type="text" name="name"
                           placeholder="Your Name" autofocus="">
                </div>

                <div class="form-outline mb-1">
                    <input class="input" id="form2Example1" type="password" name="password"
                           placeholder="Your Password" autofocus="">
                </div>

                <div class="form-submit">
                    <label class="checkbox col-md-2"><input type="checkbox" name="remember">Remember me</label>
                    <button class="btn-primary col-md-1">Login</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
